:root {
    --color-black: #111111;
    --color-violet: #1E1823;
    --color-gray: #4C4C4C;
    --color-orange: #FD9222;
    --color-beige: #FCF1E0;
    --color-light: #FAFAFA;
    --color-white: #FFFFFF;
    --color-gray: #4c4c4c;
    --color-marker-body: #4c4c4c;
    --color-marker-border: #eceded;
    --gradient-hero-image: linear-gradient(rgba(17, 17, 17, 0.4),rgba(17, 17, 17, 0.4));   
}

/*—————————————————— General ———————*/
/* #region */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat, serif;
    color: var(--color-black);
    background-color: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

input,
textarea,
button {
    font: inherit;
}

button {
    cursor: pointer;
    color: currentColor;
}

.is-hidden-js {
    transform: scale(0.3);
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* #endregion */

/*—————————————————— 01 - Header ——————————————*/
/* #region */

.header-container {
    margin: 20px 0 14px;
}

@media screen and (min-width: 768px) {
    .header-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
            height: 80px;
        }
}

.header__nav {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header__nav {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    margin-right: 138px;
}

@media screen and (min-width: 768px) {
    .header__logo-wrapper {
        margin-right: 47px;
    }
}

@media screen and (min-width: 1200px) {
    .header__logo-wrapper {
        margin-right: 365px;
        }
}

.header__logo-link {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: var(--color-black);
}

@media screen and (min-width: 1200px) {
    .header__logo-link {
        font-size: 18px;
        line-height: 1.11;
    }
}

.header__logo-italic {
    font-style: italic;
}

.header__logo-svg {
    stroke-width: 1.80px;
    stroke: #fd9222;
}

.mobile-menu__open {
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    stroke: #111111;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .mobile-menu__open {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header__nav-list {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header__nav-list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        
    }
}

.header__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: var(--color-black);
}

.header__nav-link:hover,
.header__nav-link:focus {
    color: var(--color-orange);
}

.header__social-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
}

.header__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

 .header__social-item:hover .header__social-link,
 .header__social-item:focus .header__social-link {
    border: 1px solid var(--color-orange);
    cursor: pointer;
    color: #fd9222;
    fill: var(--color-orange);

}

.header__social-link {
    min-width: 40px;
    min-height: 40px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    line-height: 0px;
    fill: var(--color-black);
}

@media screen and (max-width: 767px) {
    .header__social-list {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header__social-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;
        }
}

/* #endregion */

/*—————————————————— 01 - Mobile Menu ——————————————*/

/* #region */

.mobile-menu__container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    transform: translateX(100%);
    width: 220px;
    height: 100vh;
    background: #1e1823;
    
}

.mobile-menu__container.is-open {
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}


.mobile-menu__wrapper {
    padding: 20px;
    position: relative;
    overflow: auto;
}

.mobile-menu__button-close {
    position: absolute;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    top: 20px;
    right: 20px;
    
}

.mobile-menu__close-icon {
    stroke-width: 2px;
    stroke: #ffffff;
}

.mobile-menu__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    margin-top: 136px;
    margin-bottom: 120px;
}

/* .mobile-menu__item {} */

.mobile-menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: var(--color-white);
    
}

.mobile-menu__link:hover, 
.mobile-menu__link:focus {
    color: var(--color-orange);
}


.mobile-menu__social-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
}

.mobile-menu__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.mobile-menu__social-link {
    line-height: 0px;
}

.mobile-menu__social-icon {
    fill: #ffffff;
}


/* #endregion */

/*—————————————————— 02 - Hero ————————————————*/
/* #region */
.hero {
    padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
    .hero {
            padding-bottom: 40px;
        }
}

@media screen and (min-width: 1200px) {
    .hero {
            padding-bottom: 80px;
        }
}

.hero__bg-image {
    width: 100%;
    height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--gradient-hero-image), 
    url('../image/02-hero/hero-bg_mob@1x.jpg');
    border-radius: 30px;
}

@media (min-resolution: 192dpi) {
    .hero__bg-image {
        background-image: var(--gradient-hero-image), 
        url('../image/02-hero/hero-bg_mob@2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hero__bg-image {
            width: 100%;
            min-height: 890px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: var(--gradient-hero-image), 
            url('../image/02-hero/hero-bg_tab@1x.jpg');
            border-radius: 30px;
        }

        @media (min-resolution: 192dpi) {
            .hero__bg-image {
                background-image: var(--gradient-hero-image), 
                url('../image/02-hero/hero-bg_tab@2x.jpg');
            }
        }
}

@media screen and (min-width: 1200px) {
    .hero__bg-image {
            width: 100%;
            min-height: 600px;
            background-image: var(--gradient-hero-image), 
            url('../image/02-hero/hero-bg_deck@1x.jpg'), 
            var(--gradient-hero-image);
            border-radius: 30px;
        }
        @media (min-resolution: 192dpi) {
            .hero__bg-image {
                background-image: var(--gradient-hero-image), 
                url('../image/02-hero/hero-bg_deck@2x.jpg'), 
                var(--gradient-hero-image);
            }
        }
}


.hero__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 395px 20px 20px;
}

@media screen and (min-width: 768px) {
    .hero__wrapper {
        padding: 670px 40px 40px;
        }
}

@media screen and (min-width: 1200px) {
    .hero__wrapper {
        padding: 381px 40px 40px;
        }
}


.hero__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--color-white);
}

@media screen and (min-width: 768px) {
    .hero__title {
            max-width: 484px;
            font-size: 28px;
        }
}

.hero__button-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

@media screen and (min-width: 768px) {
    .hero__button-wrapper {
        flex-direction: row;
        justify-content: space-between;
        }
}

.hero__button-wrapper-box {
    display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.hero__button {
    width: 120px;
    height: 41px;
    margin-right: 14px;
    border: none;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background: var(--color-orange);
}

.hero__button:hover,
.hero__button:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}

.hero__link-how {
    border: 1px solid #ffffff;
    border-radius: 100px;
    width: 159px;
    height: 41px;
    padding: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

.hero__link-how:hover,
.hero__link-how:focus {
    border-color: var(--color-orange);
    color: var(--color-orange);
}

.hero__link-down {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.hero__link-down .hero__link-scroll:hover {
    color: var(--color-orange);
    border-color: #414141;
}


.hero__link-scroll {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--color-white);
}

.hero__link-scroll:hover + .hero__link-scroll-icon {
   background-color: var(--color-orange);
   fill: var(--color-white);
}

.hero__link-scroll-icon {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #ffffff;
    fill: var(--color-orange);
}



/* #endregion */

/*————— 03 - Benefit —————*/

/* #region */

.benefit {
    padding: 20px;
    background-color: #1e1823;
}

@media screen and (min-width: 768px) {
    .benefit {
        padding: 50px;
    }
}

@media screen and (min-width: 768px) {
    .benefit__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 88px;
        row-gap: 44px;
    }
}

@media screen and (min-width: 1200px) {
    .benefit__list {
        flex-wrap: nowrap;
        column-gap: 88px;
    }
}

@media screen and (min-width: 768px) {
    .benefit__list-item {
        width: 308px;
    }
}

.benefit__list-item:not(:first-child) {
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .benefit__list-item {
        flex-basis: calc((100% - 88px)/2);
    }
    .benefit__list-item:not(:first-child) {
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .benefit__list-item {
        flex-basis: calc((100% - 172px)/3);
    }
}



.benefit__list-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 64px;
    height: 64px;
}

.benefit__list-icon {
    fill: var(--color-orange);
}

.benefit__list-title {
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}

.benefit__list-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* #endregion */
/*————— 04 - Ingredients —————*/
/* #region */

.ingredients__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
}

.ingredients__title-select {
    color: #fd9222;
}


.ingredients__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;
}

@media screen and (min-width: 768px) {
    .ingredients__list {
        flex-direction: row;
        flex-wrap: wrap;

        gap: 25px;
        margin-top: 32px;
    }
}

.ingredients__list-item {
    border-radius: 15px;
    width: 335px;
    height: 270px;
    padding: 14px 14px;
    position: relative;
    padding: 28px 28px;
}

@media screen and (min-width: 768px) {
    .ingredients__list-item {
        width: 335px;
        height: 270px;
    }
}

@media screen and (min-width: 1200px) {
    .ingredients__list-item {
        width: 260px;
        height: 270px;
    }
}

.ingredients__list-icon {
    position: absolute;
    top: 14px;
    right: 14px;
}

.ingredients__list-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    min-width: 236px;
    min-height: 176px;
}

@media screen and (min-width: 1200px) {
    .ingredients__list-img {
        min-width: 214px;
        min-height: 160px;
    }
}

.ingredients__list-title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.ingredients__list-item:nth-child(odd) {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.ingredients__list-icon:nth-child(odd) {
    fill: var(--color-white);
}

.ingredients__list-item:nth-child(even) {
    background-color: var(--color-white);
}

.ingredients__list-item:nth-child(even) .ingredients__list-icon {
    fill: var(--color-orange);
}

.ingredients__list-item:nth-child(4n+3) {
    background-color: var(--color-black);
}

@media screen and (max-width: 767px) {
    .ingredients__list-item:nth-child(n+5) {
            visibility: hidden;
            display: none;
        }
}

/* #endregion */

/*————— 05 - How it's made? —————*/

/* #region */

.howmade__title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
}

.howmade__title-select {
    color: var(--color-orange);
}

@media screen and (min-width: 768px) {
    .howmade__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
}

@media screen and (min-width: 1200px) {
    .howmade__list {
        flex-direction: row;
        gap: 20px;
    }
}



.howmade__item-video {
    position: relative;
    max-width: 335px;
    height: 500px;
    display: block;
    border-radius: 15px;
    background-image: url('../image/05-howmade/image-desk.jpg');
    background-size: cover;
    background-color: rgba(17, 17, 17, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .howmade__item-video {
        min-width: 614px;
        height: 400px;
        background-image: url('../image/05-howmade/image_tab.jpg');
    }
}

@media screen and (min-width: 1200px) {
    .howmade__item-video {
        min-width: 600px;
        margin-bottom: 0;
        background-image: url('../image/05-howmade/image_tab.jpg');
    }
}





.howmade__item-video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
}

.howmade__item {
    padding: 20px 14px;
    border-radius: 15px;
    background: var(--color-white);
}

@media screen and (min-width: 768px) {
    .howmade__item {
        width: 614px;
    }
}

@media screen and (min-width: 1200px) {
    .howmade__item {
        width: 516px;
        height: 400px;
        padding: 32px;
    }
}

.howmade__item-receipt-wrapper {
    padding-left: 30px ;
}

.howmade__item-receipt {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
}

@media screen and (min-width: 1200px) {
    .howmade__item-receipt {
        margin-bottom: 28px;
    }
}

.howmade__item-receipt-item {
    list-style: square outside url('../image/05-howmade/ellipse.svg');
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
}

.howmade__item-receipt-item:not(:last-child) {
    margin-bottom: 18px;
}

@media screen and (min-width: 1200px) {
    .howmade__item-receipt-item:not(:last-child) {
            margin-bottom: 24px;
        }
}

/* #endregion */

/*————— 06 - Our products —————*/
/* #region */
.product__title {
    margin: 0 auto 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.product__title-select {
    color: var(--color-orange);
}


.product__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (min-width: 768px) {
    .product__list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1200px) {
    .product__list {
        gap: 18px;
    }
}

.product__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    padding: 32px 0;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 335px;
    height: 364px;
    background: var(--color-white);
}

@media screen and (min-width: 768px) {
    .product__item {
        flex-basis: calc((100% - 32px)/2);
    }
}

@media screen and (min-width: 1200px) {
    .product__item {
        flex-basis: calc((100% - 54px)/4);
    }
}

.product__item-img {
    margin-bottom: 8px;
}

.product__item-title {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.product__item-category {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.product__item-button {
    margin: 0 auto;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    /* padding: 8px 20px; */
    max-width: 94px;
    height: 33px;
    background: var(--color-light);
    font-weight: 600;
    font-size: 14px;
    color: var(--color-black);
}

/* #endregion */

/*————— 07 - Top sellers —————*/

/* #region */

.sellers__title {
    margin: 0 auto 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.sellers__title-select {
    color: var(--color-orange);
}


@media screen and (min-width: 768px) {
    .sellers__list {
        display: flex;
        flex-direction: row;
        gap: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .sellers__list {
        gap: 16px;
    }
}


.sellers__list-item {
    visibility: hidden;
    display: none;
    position: relative;
    overflow: hidden;
    background: var(--color-white);
}

@media screen and (min-width: 1200px) {
    .sellers__list-item {
        flex-basis: calc((100% - 32px)/3);
    }
}

.sellers__list-img {
    border-radius: 15px 15px 0 0;
}

@media screen and (min-width: 1200px) {
    .sellers__list-img {
        min-width: 376px;
    }
}

.sellers__list-title-wrapper {
    z-index: 10;
    padding: 24px 0;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 0 0 15px 15px;
}

.sellers__list-title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.sellers__list-item:hover .sellers__description,
.sellers__list-item:focus .sellers__description {
    backdrop-filter: blur(15px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%);
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translatey(0);
}

.sellers__description {
    transform: translateY(100%);
    position: absolute;
    top: 0;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 178px 40px 142px;
}

.sellers__description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: var(--color-white);
}

@media screen and (max-width: 767px) {
    .sellers__list-item:nth-child(1) {
        visibility: visible;
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .sellers__list-item:nth-child(1) {
        visibility: visible;
        display: inline-block;
    }
    .sellers__list-item:nth-child(2) {
        visibility: visible;
         display: inline-block;
     }
}

@media screen and (min-width: 1200px) {
    .sellers__list-item:nth-child(2n+1) {
        visibility: visible;
        display: inline-block;
    }
}

/* #endregion */

/*————— 08 - Reviews —————*/

/* #region */
.reviews__title {
    margin: 0 auto;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.reviews__title-select {
    color: var(--color-orange);
}

.reviews__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .reviews__list {
        flex-direction: row;
        gap: 16px;
        padding-bottom: 50px;
        }
}

.reviews__list-item {
    visibility: hidden;
    display: none;
}

.reviews__list-item-block {
    position: relative;
    height: 242px;
    max-width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.reviews__list-img {
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -150%);
}

.reviews__list-wrapper {
    max-height: 200px;
    padding: 56px 18px 42px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background: var(--color-white);
}

.reviews__list-name {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

.reviews__list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

@media screen and (max-width: 767px) {
    .reviews__list-item:nth-child(1) {
        visibility: visible;
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .reviews__list-item:nth-child(1) {
        visibility: visible;
        display: inline-block;
    }
        .reviews__list-item:nth-child(2) {
            visibility: visible;
            display: inline-block;
        }
}

@media screen and (min-width: 1200px) {
    .reviews__list-item:nth-child(2n+1) {
        visibility: visible;
        display: inline-block;
    }
}

.reviews__button {
    display: block;
    margin: 0 auto;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 12px 28px;
    width: 165px;
    height: 41px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
}

.reviews__button:hover,
.reviews__button:focus {
    background-color: var(--color-orange);
    color: var(--color-white);
}

/* #endregion */

/*————— 09 - Footer —————*/
/* #region */

.footer {
    padding: 32px;
    background: #1e1823;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 50px;
    }
}


@media screen and (min-width: 768px) {
    .footer-top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
}

.footer-top__slogan {
    margin: 32px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: var(--color-white);
    /* order: 1; */
}

@media screen and (min-width: 768px) {
    .footer-top__slogan {
        margin: 0;
        font-size: 28px;
        max-width: 300px;
    }
}

.footer-top__slogan-select {
    color: var(--color-orange);
}

@media screen and (min-width: 768px) {
    .footer-top__right-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-top__right-block {
        gap: 50px;
    }
}




.footer-top__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .footer-top__contact {
        margin: 0;
        order: 3;
    }
}


.footer-top__contact-title {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.28;
    text-align: center;
    color: var(--color-white);
}

.footer-top__contact-tel {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-white);
}

.footer-top__contact-tel:hover,
.footer-top__contact-tel:focus {
    color: var(--color-orange);
}

.footer-top__contact-mail {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-white);
}

.footer-top__contact-mail:hover,
.footer-top__contact-mail:focus {
    color: var(--color-orange);
}



@media screen and (min-width: 768px) {
    .footer-top__social-wrapper {
        order: 2;
    }
}


.footer-top__social-title {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: var(--color-white);
}

.footer-top__social-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
}

.footer-top__social-link {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    padding: 7px;
    fill: var(--color-white);
}

.footer-top__social-item:hover .footer-top__social-link,
.footer-top__social-item:focus .footer-top__social-link {
    border: 1px solid var(--color-orange);
    fill: var(--color-orange);
}

.footer__line {
    margin: 32px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 0px;
    transform: rotate(-180deg);
}

@media screen and (min-width: 768px) {
    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        }
}

.footer-bottom__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .footer-bottom__list {
        flex-direction: row;
        gap: 16px;
        margin-bottom: 0;
    }
}

.footer-bottom__list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--color-white);
}

.footer-bottom__list-link:hover,
.footer-bottom__list-link:focus {
    color: var(--color-orange);
}

.footer__subscribe-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;

}

.footer__input {
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 14px 18px;
    width: 207px;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 768px) {
    .footer__input {
        width: 233px;
    }
}

@media screen and (min-width: 1200px) {
    .footer__input {
        width: 313px;
    }
}

.footer__button-submit {
    border: none;
    border-radius: 100px;
    padding: 14px 26px;
    width: 120px;
    height: 45px;
    background: var(--color-orange);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: var(--color-white);
}

/* #endregion */

/* ————— 010 - Modal Window ————— */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: auto;
    background-color: rgba(17, 17, 17, 0.5);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal__window {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    padding: 32px 24px;
    height: 622px;
    border-radius: 15px;
    background: var(--color-light);
}

@media screen and (min-width: 768px) {
    .modal__window {
        width: 517px;
        height: 794px;
        padding: 40px;
    }
}

.modal__button-close {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
}

.modal__button-icon {
    fill: var(--color-black);
}

.modal__title {
    width: 255px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.modal__title-select {
    color: var(--color-orange);
}


.label__wrapper {
    display: flex;
    flex-direction: column;
    width: 263px;
    height: 67px;
    margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
    .label__wrapper {
        width: 437px;
        height: 93px;
        margin-bottom: 18px;
    }
}

.label__title {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
    .input__wrapper {
    height: 0;
}
}


.label__input {
    position: absolute;
    width: 263px;
    height: 46px;
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 13px 8px 13px 43px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    background-color: transparent;
    outline: none;
}

.label__input:hover,
.label__input:focus {
    border: 1.50px solid var(--color-orange);
}

@media screen and (min-width: 768px) {
    .label__input {
        width: 437px;
        height: 68px;
        padding: 22px 8px 22px 62px;
    }
}


.label__input-icon {
    position: relative;
    top: 14px;
    left: 18px;
    fill: #414141;
    width: 24px;
    height: 24px;
}

.label__input:focus + .label__input-icon,
.label__input:hover + .label__input-icon {
    fill: var(--color-orange);
}

@media screen and (min-width: 768px) {
    .label__input-icon {
        top: 22px;
        left: 24px;
    }
}


.label__wrapper-textarea {
    display: flex;
    flex-direction: column;
    width: 263px;
    height: 112px;
    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
    .label__wrapper-textarea {
        width: 437px;
        height: 162px;
        margin-bottom: 18px;
    }
}

.label__textarea {
    width: 263px;
    height: 91px;
    resize: none;
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 13px 18px 60px 18px;
    background-color: transparent;
    overflow: hidden;
    outline: none;
}

@media screen and (min-width: 768px) {
    .label__textarea {
        width: 437px;
        height: 137px;
    }
}

.label__textarea:hover,
.label__textarea:focus {
    border: 1.50px solid var(--color-orange);
}

.modal__check-wrapper {
    margin-bottom: 24px;
}

.modal__check-label {
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.6);
}

.modal__check-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    cursor: pointer;
}

.modal__check-input:checked+.modal__check-label .modal__check-box {
    background-color: var(--color-orange);
    fill: var(--color-light);
    border: none;
}

.modal__check-input:focus+.modal__check-label .modal__check-box {
    border-color: var(--color-iris-primary-brand);
}

.modal__checkbox-link {
    padding-left: 28px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-orange);
}

.modal__button-send {
    border: none;
    border-radius: 100px;
    padding: 12px 28px;
    width: 93px;
    height: 41px;
    background: var(--color-orange);
    font-weight: 600;
    font-size: 14px;
    color: var(--color-white);
}






