:root {
    --color-black: #111111;
    --color-violet: #1E1823;
    --color-gray: #4C4C4C;
    --color-orange: #FD9222;
    --color-beige: #FCF1E0;
    --color-light: #FAFAFA;
    --color-white: #FFFFFF;
    --color-gray: #4c4c4c;
    --color-marker-body: #4c4c4c;
    --color-marker-border: #eceded;
        
    
}

/*—————————————————— General ———————*/
/* #region */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat, serif;
    color: var(--color-black);
    background-color: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

input,
textarea,
button {
    font: inherit;
}

button {
    cursor: pointer;
    color: currentColor;
}

.is-hidden-js {
    transform: scale(0.3);
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;

    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/* #endregion */

/*—————————————————— 01 - Header ——————————————*/
/* #region */

.header-container {
    margin: 20px 0 14px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    margin-right: 138px;
}

.header__logo-link {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: var(--color-black);
}

.header__logo-italic {
    font-style: italic;
}

.header__logo-svg {
    stroke-width: 1.80px;
    stroke: #fd9222;
}

.mobile-menu__open {
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    stroke: #111111;
    padding: 0;
}


@media screen and (min-width: 768px) {
    .mobile-menu__open {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header__nav-list {
        display: none;
    }
}

.header__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: var(--color-black);
}

.header__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: var(--color-black);
}

@media screen and (max-width: 767px) {
    .header__social-list {
        display: none;
    }
}

/* #endregion */

/*—————————————————— 01 - Mobile Menu ——————————————*/

/* #region */

.mobile-menu__container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    transform: translateX(100%);
    width: 220px;
    height: 100vh;
    background: #1e1823;
    
}

.mobile-menu__container.is-open {
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    
}


.mobile-menu__wrapper {
    padding: 20px;
    position: relative;
    overflow: auto;
}

.mobile-menu__button-close {
    position: absolute;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    top: 20px;
    right: 20px;
    
}

.mobile-menu__close-icon {
    stroke-width: 2px;
    stroke: #ffffff;
}

.mobile-menu__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    margin-top: 136px;
    margin-bottom: 120px;
}

/* .mobile-menu__item {} */

.mobile-menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: var(--color-white);
    
}

.mobile-menu__link:hover, 
.mobile-menu__link:focus {
    color: var(--color-orange);
}


.mobile-menu__social-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 14px;
}

.mobile-menu__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.mobile-menu__social-link {
    line-height: 0px;
}

.mobile-menu__social-icon {
    fill: #ffffff;
}


/* #endregion */

/*—————————————————— 02 - Hero ————————————————*/
/* #region */
.hero {
    padding-bottom: 80px;
}

.hero__bg-image {
    width: 100%;
    height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../image/02-hero/hero-bg_mob@1x.jpg');
    
    border-radius: 30px;
}

@media (min-resolution: 192dpi) {
    .hero__bg-image {
        background-image: url('../image/02-hero/hero-bg_mob@2x.jpg');
    }
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 395px 20px 20px;


}

.hero__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--color-white);
}

.hero__button-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.hero__button-wrapper-box {
    display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.hero__button {
    width: 120px;
    height: 41px;
    margin-right: 14px;
    border: none;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    background: var(--color-orange);
}



.hero__link-how {
    border: 1px solid #ffffff;
    border-radius: 100px;
    width: 159px;
    height: 41px;
    padding: 12px;

    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

.hero__link-down {
    display: flex;
    align-items: center;

    column-gap: 12px;
    

}

.hero__link-scroll {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.hero__link-scroll-icon {
    border-radius: 100%;
    background-color: #ffffff;
}



/* #endregion */

/*—————————————————— 03 - Benefit —————————————*/
/* #region */
.benefit {
    background-color: #1e1823;
}

.benefit__list {}

.benefit__list-item {}

.benefit__list-icon {
    
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 62px;
    height: 62px;
}

.benefit__list-title {}

.benefit__list-text {}









/* #endregion */

/*—————————————————— 04 - Ingredients —————————*/
/* #region */
/* #endregion */

/*—————————————————— 05 - How it's made? —————*/
/* #region */
/* #endregion */

/*—————————————————— 06 - Our products ———————*/
/* #region */
/* #endregion */

/*—————————————————— 07 - Top sellers ———————*/
/* #region */
/* #endregion */

/*—————————————————— 08 - Reviews  ———————————*/
/* #region */
/* #endregion */

/*—————————————————— 09 - Footer  ———————————*/
/* #region */
/* #endregion */